@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&family=Play:wght@700&family=Satisfy&display=swap');

/* General style of the CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --light: #d5f3fe;
    --blue: #000336;
}

html {
    width: 100%;
    font-family: 'Gothic A1', sans-serif;
    font-size: 62.5%;
    font-weight: 900;
    line-height: 1.6;   
    scroll-behavior: smooth;
    background-color: var(--light);
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 

/* To undo bulleting style */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* For headers */
h1 {
    text-align: center;
    font-size: 3.5 rem;
    text-transform: capitalize;
    color: var(--white);
    margin: 50px 0 30px 0;
    text-shadow: 2px 2px 3px #000000;
}


/* Dropdown Button -- Settings */
.dropdown {
    position: absolute;
    top: 55px;
    left: 40px;
}

.settings{
    position: absolute;
    top: 15%;
    left: 83%;
    width: 210px;
    float: inline-end;
    padding: 10px;
    border-radius: 20px;
    background: var(--light);
}

.settings a {
    display: block;
    align-items: center;
    padding: 10px 20px;
    color: var(--blue);
}

.set-btn {
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    width: 150px;
    outline: none;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    touch-action: manipulation;
}

.set-btn:hover {
    background-color: #3C99DC;
    box-shadow: var(--blue) 0 -6px 8px inset;
    transform: scale(1.125);
    color: var(--white);
}

.set-btn:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .set-btn {
        font-size: 1.2rem;
        padding: .75rem 2rem;
    }
}

.btn {
    color: var(--white);
    border: none;
    padding: 10px;
    width: 120px;
    background: none;
    cursor: pointer;
}

.btn i {
    background: none;
    font-size: 60px;
}

.hide {
    display: none;
}

/* For Status */
.status {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 60px;
    border-bottom: 0.1em solid #c0bfd2;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 300px;
}


/* for Containers of the div */
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* style of the flags */
.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
}

/* .flags img {
    width: 400px;
    height: 250px;
} */

.image img {
    width: 480px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    animation: zoom-in-zoom-out 3s ease-in infinite;
}
.flag-image {
    width: 50%;
}
/* Styling the choices for the questions */
.options {
    margin-top: 2rem;
    margin: 30px 0 30px 0;
    align-content: center;
    opacity: 90%;
}

.options ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.options ul div {
    width: 300px;
    justify-content: space-around;
    margin: 10px;
}

.options ul li {
    height: 130px;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--white);
    border-radius: 1.5rem;
    margin-bottom: 20px;
    padding: 50px;
    color: var(--blue);
    cursor: pointer;
    text-shadow: 1px 1px 2px #000000;
    box-shadow: 0 .5rem .5rem rgba(0 0 0 / .3);
}


/* Animation for the flag zoom-in-zoom-out */
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1,1);
    }

    50% {
        transform: scale(1.1,1.1);
    }

    100% {
        transform: scale(1,1);
    }
}



/* For making the quiz container responsive */
/* @media(min-width: 576){
    .container{
        width: 540px;
    }
}

@media(min-width: 768){
    .container{
        width: 720px;
    }
}

@media(min-width: 992){
    .container{
        width: 960px;
    }
}

@media(min-width: 1200){
    .container{
        width: 1140px;
    }
}

@media(min-width: 1200){
    .container{
        width: 1140px;
    }
}

@media(min-width: 1400){
    .container{
        width: 1320px;
    }
} */


/* Score */
.score .right {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    color: var(--white);
    padding: 2rem;
}

/* Questions */
.count .item {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    color: var(--white);
    padding: 2rem;
}

/* Timer */
.timer .time-left {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--blue);
    padding: 10px;
    padding-bottom: 1px;
}

.timer {
    background-color: var(--white);
    width: 5.5em;
    height: 1.8em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5rem .5rem rgba(0 0 0 / .3);
}

.settings ul li.active {
    color: var(--white);
}
.options ul li.active {
    background-color: var(--blue);
    color: var(--white);
}

.options ul li.success {
    background-color: #1eb53a;
}

.options ul li.wrong {
    background-color: red;
}

/* This is for the summary div */

.summary {
    background: var(--blue);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 90%;
}

.end {
    background: var(--white);
    width: 400px;
    height: 300px;
    padding: 100px;
    border-radius: 20px;
    z-index: -1;
}
#total_score {
    margin-top: -30px;
    font-size: 20px;
    text-align: center;
}

#more_info {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    margin-top: 40px;
}

#choose_next {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 20px;
}

#choose_next:active,
#choose_next:hover {
    outline: 0;
}

#choose_next span {
    background-color: var(--blue);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

#choose_next:hover span {
    background: none;
    color: var(--white);
}

@media (min-width: 768px) {
    #choose_next {
        font-size: 24px;
        min-width: 196px;
    }
}

/* Making the elements responsive */
@media(min-width: 375px){
    h1,h3, .status, .count{
        font-size: 3rem;
    }
    .container .image {
        width: 30rem;
    }

    .container .options ul li {
        width: 100%;
    }
}

@media(min-width: 768px){
    h1 {
        font-size: 6rem;
    }
}

@media(min-width: 991px){
    .container .options ul li:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}