@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&family=Play:wght@700&family=Satisfy&display=swap');

/* General style of the CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --violet: #673ab7;
}

html {
    width: 100%;
    font-family: 'Gothic A1', sans-serif;
    font-size: 62.5%;
    font-weight: 900;
    line-height: 1.6;   
    scroll-behavior: smooth;
    background-color: #EDEDED;
}

/* To undo bulleting style */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* For headers */
h1 {
    text-align: center;
    font-size: 3.5 rem;
    text-transform: capitalize;
    color: var(--violet);
    margin: 50px 0 30px 0;
}

/* For Status */
.status {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 60px;
    border-bottom: 0.1em solid #c0bfd2;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 300px;
}


/* for Containers of the div */
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* style of the flags */
.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
}

/* .flags img {
    width: 400px;
    height: 250px;
} */

.image img {
    width: 480px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    animation: zoom-in-zoom-out 3s ease-in infinite;
}
.flag-image {
    width: 50%;
}
/* Styling the choices for the questions */
.options {
    margin-top: 2rem;
    margin: 30px 0 30px 0;
    align-content: center;
}

.options ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.options ul div {
    width: 300px;
    justify-content: space-around;
    margin: 10px;
}

.options ul li {
    height: 130px;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--white);
    border-radius: 1.5rem;
    margin-bottom: 20px;
    padding: 50px;
    color: var(--violet);
    cursor: pointer;
    box-shadow: 0 .5rem .5rem rgba(0 0 0 / .3);
}


/* Animation for the flag zoom-in-zoom-out */
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1,1);
    }

    50% {
        transform: scale(1.1,1.1);
    }

    100% {
        transform: scale(1,1);
    }
}



/* For making the quiz container responsive */
/* @media(min-width: 576){
    .container{
        width: 540px;
    }
}

@media(min-width: 768){
    .container{
        width: 720px;
    }
}

@media(min-width: 992){
    .container{
        width: 960px;
    }
}

@media(min-width: 1200){
    .container{
        width: 1140px;
    }
}

@media(min-width: 1200){
    .container{
        width: 1140px;
    }
}

@media(min-width: 1400){
    .container{
        width: 1320px;
    }
} */

#Newgame {
    border: none;
    background-color: var(--violet);
    padding: 1.5rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .1rem;
}


/* Score */
.score .right {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    color: var(--violet);
    padding: 2rem;
}

/* Questions */
.count .item {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    color: var(--violet);
    padding: 2rem;
}

/* Timer */
.timer .time-left {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--violet);
}

.timer {
    background-color: var(--white);
    width: 5.5em;
    height: 1.8em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    box-shadow: 0 .5rem .5rem rgba(0 0 0 / .3);
}

.settings ul li.active {
    color: var(--white);
}
.options ul li.active {
    background-color: var(--violet);
    color: var(--white);
}

.options ul li.success {
    background-color: #1eb53a;
}

.options ul li.wrong {
    background-color: red;
}


/* Making the elements responsive */
@media(min-width: 375px){
    h1,h3, .status, .count{
        font-size: 3rem;
    }
    .container .image {
        width: 30rem;
    }

    .container .options ul li {
        width: 100%;
    }
}

@media(min-width: 768px){
    h1 {
        font-size: 6rem;
    }
}

@media(min-width: 991px){
    .container .options ul li:hover {
        background-color: var(--violet);
        color: var(--white);
    }
}